Tango.TaskManager/TaskList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaskList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Task" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Argument" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="Name" />
                      <xs:attribute type="xs:string" name="Value" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Dictionary" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
					<xs:sequence>
						<xs:element name="Argument" maxOccurs="unbounded" minOccurs="0">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute type="xs:string" name="Name" />
										<xs:attribute type="xs:string" name="Value" />
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute type="xs:string" name="Name"/>
				</xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Name" use="required"/>
            <xs:attribute type="xs:string" name="StartType" use="required"/>
            <xs:attribute type="xs:integer" name="Hours"/>
            <xs:attribute type="xs:integer" name="Minutes"/>
			<xs:attribute type="xs:integer" name="Seconds"/>
            <xs:attribute type="xs:string" name="Type" use="required"/>
            <xs:attribute type="xs:string" name="Method" use="required"/> 
            <xs:attribute type="xs:integer" name="ThreadCount"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
