Nephrite.Metamodel/DbSync/DbStruct.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nephritetech.com/tessera/dbstruct/1.1"
		   xmlns:tns="http://nephritetech.com/tessera/dbstruct/1.1">
	<xs:element name="Database">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Tables">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Table" maxOccurs="unbounded" type="tns:Table" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StoredProcedures">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="StoredProcedure" type="tns:StoredProcedure" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StoredFunctions">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="StoredFunction" type="tns:StoredFunction" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Views">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="View" maxOccurs="unbounded" type="tns:View" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UserData">
					<xs:complexType>
						<xs:sequence>
							<xs:any />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required" />
			<xs:attribute name="Created" type="xs:dateTime" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Table">
		<xs:sequence>
			<xs:element name="Columns">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="Column">
							<xs:complexType>
								<xs:attribute name="Name" type="xs:string" use="required" />
								<xs:attribute name="Type" type="xs:string" use="required" />
								<xs:attribute name="Nullable" type="xs:boolean" use="required" />
								<xs:attribute name="DefaultValue" type="xs:string" use="optional" />
								<xs:attribute name="DefaultConstraintName" type="xs:string" use="optional" />
								<xs:attribute name="ComputedText" type="xs:string" use="optional" />
								<xs:attribute name="MaximumLength" type="xs:int" use ="required" />
								<xs:attribute name="Precision" type="xs:int" use ="required" />
								<xs:attribute name="Scale" type="xs:int" use ="required" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ForeignKeys">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="ForeignKey" type="tns:ForeignKey" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Triggers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="Trigger" type="tns:Trigger" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Indexes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="Index" type="tns:Index" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required" />
		<xs:attribute name="Identity" type="xs:boolean" use="required" />
	</xs:complexType>
	<xs:complexType name="Index">
		<xs:sequence>
			<xs:element name="Columns">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Column" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="Name" type="xs:string" use="required" />
								<xs:attribute name="Ascending" type="xs:boolean" use="required" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FilterDefinition" type="xs:string" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required" />
		<xs:attribute name="IsUnique" type="xs:boolean" use="required" />
		<xs:attribute name="IsPrimaryKey" type="xs:boolean" use="required" />
	</xs:complexType>
	<xs:complexType name="Trigger">
		<xs:sequence>
			<xs:element name="Text" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required" />
		<xs:attribute name="Filter" type="xs:string" use="optional" />
	</xs:complexType>
	<xs:complexType name="ForeignKey">
		<xs:sequence>
			<xs:element name="Columns">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="Column">
							<xs:complexType>
								<xs:attribute name="Name" type="xs:string" use="required" />
								<xs:attribute name="ReferencedColumn" type="xs:string" use="required" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required" />
		<xs:attribute name="ReferencedTable" type="xs:string" use="required" />
		<xs:attribute name="DeleteCascade" type="xs:boolean" use="required" />
	</xs:complexType>
	<xs:complexType name="StoredProcedure">
		<xs:sequence>
			<xs:element name="Parameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="Parameter">
							<xs:complexType>
								<xs:attribute name="Name" type="xs:string" use="required" />
								<xs:attribute name="DataType" type="xs:string" use="required" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Text" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="StoredFunction">
		<xs:sequence>
			<xs:element name="Parameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="Parameter">
							<xs:complexType>
								<xs:attribute name="Name" type="xs:string" use="required" />
								<xs:attribute name="DataType" type="xs:string" use="required" />
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Text" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required" />
		<xs:attribute name="ReturnDataType" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="View">
		<xs:sequence>
			<xs:element name="Text" type="xs:string" />
			<xs:element name="Triggers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="Trigger" type="tns:Trigger" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required" />
	</xs:complexType>
</xs:schema>